<div class="table-container">
  <!-- Define templates for different states -->
  <ng-template #loadingTemplate>
    <app-loading-spinner
      [loadingDataLabel]="'Loading players stats...'"
    ></app-loading-spinner>
  </ng-template>

  <ng-template #noDataTemplate>
    <app-no-data></app-no-data>
  </ng-template>

  <ng-template #contentTemplate>
    <mat-form-field class="search-field">
      <mat-label>Search...</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Player name"
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- No. Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}.</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Winrate Column -->
      <ng-container matColumnDef="winrate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Win rate</th>
        <td
          mat-cell
          [ngClass]="{
            'positive-winrate':
              element.playerDetails.totalGames > 0 &&
              element.playerDetails.winrate > 50,
            'negative-winrate':
              element.playerDetails.totalGames > 0 &&
              element.playerDetails.winrate < 50,
          }"
          *matCellDef="let element"
        >
          {{ element.playerDetails.winrate }}%
        </td>
      </ng-container>

      <!-- Total Games Column -->
      <ng-container matColumnDef="totalGames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Games played</th>
        <td mat-cell *matCellDef="let element">
          {{ element.playerDetails.totalGames }}
        </td>
      </ng-container>

      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Win/Lose</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.playerDetails.gamesWon +
              ' - ' +
              element.playerDetails.gamesLost
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="navigateToPlayerGames(row.id)"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons>
    </mat-paginator>
  </ng-template>

  <!-- Display appropriate template based on state -->
  <ng-container *ngIf="isLoading; then loadingTemplate; else contentOrEmpty">
  </ng-container>

  <ng-template #contentOrEmpty>
    <ng-container
      *ngIf="
        dataSource.data.length > 0;
        then contentTemplate;
        else noDataTemplate
      "
    >
    </ng-container>
  </ng-template>
</div>
