.table-container {
  width: 100%;
  border: 1px solid var(--divider-color);
  border-radius: 12px;
  overflow: auto;
  height: auto;
  max-height: 540px;
}

th.mat-sort-header-sorted {
  color: var(--text-primary);
}

.align-right {
  text-align: right;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid var(--divider-color);
  padding-right: 24px;
  text-align: left;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: -1.35rem;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: var(--divider-color);
}

mat-paginator {
  flex-shrink: 0;
  bottom: 0;
  z-index: 1;
  position: sticky;
  background-color: var(--surface);
  color: var(--text-primary);
}

.positive-winrate {
  color: #4caf50 !important;
  font-weight: 500;
}

.negative-winrate {
  color: var(--error) !important;
  font-weight: 500;
}

.loading-container,
.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-radius: 4px;
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 16px 0;

  span {
    margin-top: 16px;
    color: var(--background);
  }
}

.no-data-container {
  color: var(--background);

  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-bottom: 8px;
  }
}
