<mat-toolbar>
  <mat-toolbar-row>
    <span class="toolbar-title">{{ 'DotaNerf' }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="navigateToCreateGame()">
        <mat-icon>add</mat-icon>
        <span>Add game</span>
      </button> -->
      <button mat-menu-item (click)="navigateToCreateGameFromTable()">
        <mat-icon>add</mat-icon>
        <span>Add game</span>
      </button>
      <button mat-menu-item (click)="navigateToPlayerStats()">
        <mat-icon>people</mat-icon>
        <span>Player stats</span>
      </button>
      <button mat-menu-item (click)="navigateToRecentGames()">
        <mat-icon>history</mat-icon>
        <span>Recent games</span>
      </button>
      <!-- <button mat-menu-item (click)="navigateToImageUpload()">
        <mat-icon>image</mat-icon>
        <span>Image upload</span>
      </button> -->
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
