mat-toolbar {
  background-color: #1e2a3a;
  color: white;

  button {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toolbar-title {
    flex: 1;
    text-align: center;
  }
}
