html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--text-primary);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  margin-top: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
