<ng-container *ngIf="(loading$ | async) === true; else dataReadyTemplate">
  <app-loading-spinner
    [loadingDataLabel]="'Loading games...'"
  ></app-loading-spinner>
</ng-container>

<ng-template #dataReadyTemplate>
  <ng-container *ngIf="games$ | async as games">
    <app-game-table
      *ngIf="games.length > 0; else noDataTemplate"
      [games]="games"
    ></app-game-table>

    <ng-template #noDataTemplate>
      <app-no-data></app-no-data>
    </ng-template>
  </ng-container>
</ng-template>
