.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.button-container {
  margin: 16px 0;
  display: flex;
  justify-content: flex-end;
}

.mat-elevation-z8 {
  width: 100%;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;

  span {
    margin-top: 8px;
  }
}

.error-message {
  color: #f44336;
  margin-top: 8px;
  font-size: 14px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.missing-hero {
  background-color: rgba(255, 0, 0, 0.1);
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: -1.35rem;
}

.mat-mdc-row:hover {
  background: var(--divider-color);
}

.mat-mdc-row,
.mat-mdc-header-row {
  height: 36px !important;
  min-height: 36px !important;
  font-size: 14px;
}
